*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #B993D6, #8CA6DB);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  font-family: "Inter", sans-serif;
}
